@using Wed_QL_DienThoai.Models;
@model List<DienThoai>
@{
    ViewBag.Title = "DanhsachSp";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
    @input;
    }
    else
    {
    @input.Substring(0, length) <text>...</text>
    }
}
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                       @Html.Action("Search","Layout")
                    </li>
                <li class="nav-item dropdown ml-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nhãn Hàng Điện Thoại
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @foreach (LOAI i in ViewBag.dsl)
                        {
                             <span class="dropdown-item">@Html.ActionLink(@i.TenLoai, "SanphamTheoLoai", "Layout", new { id = i.MaLoai }, new { @class = "nav-link" })</span>
                        }
                    </div>
                </li>
                <li class="nav-item ">
                    @Html.ActionLink("Tìm Kiếm Nâng Cao", "SearchNC", "Layout", new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Khuyến Mãi", "Khuyenmai", "Layout", new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
</section>

<div class="container-fluid poster ">
    <div class="row text-center">
        @foreach (DienThoai dt in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="/Content/filehinh/@dt.Anh" class="img-c">
                    <div class="card-body">
                        <h5 class="card-title">@dt.TenDT</h5>
                        <p class="card-text">@Truncate(dt.MoTa, 96)</p>
                        @Html.ActionLink("Chi tiết", "ChitietDT", "Layout",new {madt=dt.MaDT }, new { @class = "btn1" })
                    </div>
                </div>
            </div>
        }


    </div>
</div>

